<div class="common-content-container">
  <div class="password-forget">
    <h2>{{ 'USER.FORGET_PASSWORD' | translate }}</h2>
    <div>
      {{ 'USER.EMAIL' | translate }}
      <nz-divider nzType="vertical"></nz-divider>
      <a routerLink="/account/password-forget_phone">{{ 'USER.PHONE' | translate }}</a>
    </div>
    <div class="steps">
      <nz-steps [nzCurrent]="currentStep">
        <nz-step nzTitle="{{ 'USER.EMAIL' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'USER.VERIFY_CODE' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'COMMON.RESULT' | translate }}"></nz-step>
      </nz-steps>
    </div>
    <div class="input-box" *ngIf="currentStep == 0">
      <form nz-form [formGroup]="validateEmailForm" (ngSubmit)="submitEmail()" style="width:100%;">
        <nz-form-item>
          <nz-form-label class="emailLabel" [nzSpan]="7" nzRequired style="padding-right:10px;">
            {{'USER.EMAIL' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-input-group>
              <input nz-input type="email" placeholder="{{ 'USER.EMAIL_PLZ' | translate }}" formControlName="email">
            </nz-input-group>
            <nz-form-explain *ngIf="validateEmailForm.get('email').dirty && validateEmailForm.get('email').errors">{{
              'USER.EMAIL_INVALID' | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <div class="btn-box">
          <button nz-button nzType="primary" [nzLoading]="isLoading">{{'COMMON.NEXT' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="password-box" *ngIf="currentStep == 1">
      <ccex-reset-password [resetObj]="resetObj" (resetEvent)="submitForm($event)"></ccex-reset-password>
    </div>
    <div class="password-box" *ngIf="currentStep == 2">
      <div *ngIf="!status">
        <p style="text-align: center;">{{ 'USER.RESET_FAILURE' | translate }}</p>
        <button nz-button nzType="primary" (click)="currentStep = 0">{{'USER.BACK' | translate}}</button>
      </div>
      <div *ngIf="status">
        <p style="text-align: center;">{{ 'USER.RESET_SUCCESS' | translate }}</p>
        <a routerLink="/account/login">
          <button nz-button nzType="primary">{{'COMMON.LOGIN' | translate}}</button>
        </a>
      </div>
    </div>
  </div>
</div>