<div class="common-content-container">
  <div class="event-container">
    <div style="width:100%;flex: 0 0 100%;">
      <img src="assets/images/events/holdglbgiftxrp_{{localize.currentLanguage.id === 'zh_CN' ? 'zh' : 'en'}}.png?t=201907242005" style="width:100%;">
    </div>
    <div *ngIf="!isReady" style="display: flex;justify-content:center;align-items:center;width: 100%;min-height: 300px;">
      <div class="loading"></div>
    </div>
    <div class="event-box" *ngIf="isReady">
      <p>
        <a style="color:#0477ba;font-weight: bold;border-bottom: 1px solid #0477ba;" routerLink="/events">{{ 'EVENT_CENTER.EVENTS' | translate }}</a>
        <span *ngIf="localize.currentLanguage.id === 'en_US'" style="font-weight: bold;color:#000;"> /
          {{event.name}}</span>
        <span *ngIf="localize.currentLanguage.id === 'zh_CN'" style="font-weight: bold;color:#000;"> /
          {{event.name_zh}}</span>
      </p>
      <div class="rule-box has-shadow">
        <h3>
          <p style="font-weight: bold;color:#000;margin-top: 20px;">{{'EVENT_CENTER.EVENT_RULE' | translate}}</p>
        </h3> 
        <div *ngIf="localize.currentLanguage.id === 'en_US'" class="description-box" [innerHTML]="event.description"></div>
        <div *ngIf="localize.currentLanguage.id === 'zh_CN'" class="description-box" [innerHTML]="event.description_zh"></div>
      </div>
      <div style="display: flex;justify-content:center;width: 100%;align-items: center;">
        <div style="display: flex; position: relative;width: 250px;">
          <p class="event-coin">{{event.coin}}: </p>
          <input type="text" nz-input style="width: 200px;text-align: right;" (keyup)="forceAmountPrecision()" [(ngModel)]="purchaseAmount">
          <div style="position: absolute;right:-130px;width:130px;display: flex;justify-content: flex-start;top:7px;">
            <p style="margin: 0;padding-left:5px;font-size: 12px;color:#9b9999;">
              {{'EVENT_CENTER.AIRDOP_FACTOR'| translate }}: {{AirdopFactor}}
            </p>
          </div>
        </div>
      </div>
      <div style="display: flex;justify-content:center;width: 100%;">
        <p style="width:250px;text-align: right;">
          <span>{{'EVENT_CENTER.MAX_AVAILABLE' | translate}}: </span>
          <span>{{maxPurchasableAmount}}</span>
        </p>
      </div>
      <div class="btn-box">
        <button nz-button class="event-btn" [nzType]="'primary'" [nzLoading]="isParticipationButtonLoading" (click)="tryParticipation()">{{'EVENT_CENTER.PARTICIPATE_NOW' | translate }} !</button>
        <!-- <a style="width: 100%;text-align: center;margin-top: 20px;font-size: 18px;" [routerLink]="['/events/daily_ranking',{'eventId':eventId, 'catalogId':catalogId}]" >{{ 'EVENT_CENTER.VIEW_RANKINGS' | translate}}</a> -->
      </div>
    </div>
  </div>
</div>