<div class="common-content-container">
  <div class="password-forget">
    <h2>{{ 'USER.FORGET_PASSWORD' | translate }}</h2>
    <div>
      {{ 'USER.PHONE' | translate }}
      <nz-divider nzType="vertical"></nz-divider>
      <a routerLink="/account/password-forget_email">{{ 'USER.EMAIL' | translate }}</a>
    </div>
    <div class="steps">
      <nz-steps [nzCurrent]="currentStep">
        <nz-step nzTitle="{{ 'USER.PHONE' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'USER.VERIFY_CODE' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'COMMON.RESULT' | translate }}"></nz-step>
      </nz-steps>
    </div>
    <div class="input-box" *ngIf="currentStep == 0">
      <form nz-form [formGroup]="validatePhoneForm" (ngSubmit)="submitPhone()" style="width:100%;">
        <nz-form-item style="width: 70%;margin: 0 auto;">
          <nz-form-control>
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select style="width: 190px" formControlName="countryCode">
                  <ng-container *ngFor="let countryCode of localize.countryCodes">
                    <nz-option [nzLabel]="countryCode.displayValue" [nzValue]="countryCode.rawValue"></nz-option>
                  </ng-container>
                </nz-select>
              </ng-template>
              <input type="text" autocomplete="username" name="phone" nz-input formControlName="phone"
                placeholder="{{ 'USER.PHONE_PLZ' | translate }}">
            </nz-input-group>
            <nz-form-explain *ngIf="validatePhoneForm.get('phone').dirty && validatePhoneForm.get('phone').errors">{{
              'USER.PHONE_INVALID' | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <div class="btn-container">
          <button nz-button nzType="primary" [nzLoading]="isLoading">{{'COMMON.NEXT' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="password-box" *ngIf="currentStep == 1">
      <ccex-reset-password [resetObj]='resetObj' (resetEvent)="submitForm($event)"></ccex-reset-password>
    </div>
    <div class="password-box" *ngIf="currentStep == 2">
      <div *ngIf="!status">
        <p style="text-align: center;">{{ 'USER.RESET_FAILURE' | translate }}</p>
        <button nz-button nzType="primary" (click)="currentStep = 0">{{'USER.BACK' | translate}}</button>
      </div>
      <div *ngIf="status">
        <p style="text-align: center;">{{ 'USER.RESET_SUCCESS' | translate }}</p>
        <a routerLink="/account/login">
          <button nz-button nzType="primary">{{'COMMON.LOGIN' | translate}}</button>
        </a>
      </div>
    </div>
  </div>
</div>