<nz-modal [(nzVisible)]="isVisible" nzTitle="{{'USER.Modify_PASSWORD' | translate }}" nzWrapClassName="vertical-center-modal"
  [nzFooter]="null" [nzWidth]="900" nzClosable="true" (nzOnCancel)="close()">
  <div class="steps">
    <nz-steps [nzCurrent]="currentStep">
      <nz-step nzTitle="{{ 'USER.ENTER_NEW_PASSWORD' | translate }}"></nz-step>
      <nz-step nzTitle="{{ 'COMMON.RESULT' | translate }}"></nz-step>
    </nz-steps>
  </div>
  <div [ngSwitch]="currentStep">
    <div class="password-box" *ngSwitchCase="0">
      <ccex-reset-password [resetObj]='resetObj' (resetEvent)="submitForm($event)"></ccex-reset-password>
    </div>
    <div class="password-box" *ngSwitchCase="1">
      <div *ngIf="!status">
        <p style="text-align: center;">{{ 'USER.RESET_FAILURE' | translate }}</p>
        <a routerLink="/settings/overview">
          <button nz-button nzType="primary">{{'USER.BACK' | translate}}</button>
        </a>
      </div>
      <div *ngIf="status">
        <p style="text-align: center;">{{ 'USER.RESET_SUCCESS' | translate }}</p>
        <a routerLink="/settings/overview">
          <button nz-button nzType="primary">{{'USER.BACK' | translate}}</button>
        </a>
      </div>
    </div>
  </div>
</nz-modal>