<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width:100%;">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'USER.PASSWORD' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input type="password" formControlName="password">
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">{{
        'USER.PASSWORD_INVALID' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'USER.COMFIRM_PASSWORD' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input type="password" formControlName="checkPassword">
      <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
        <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
          {{ 'USER.CONFIRM_PASSWORD_PLZ' | translate }}
        </ng-container>
        <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
          {{ 'USER.CONFIRM_PASSWORD_INVALID' | translate }}
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'USER.VERIFY_CODE' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <div style="display: flex;width: 100%;flex-flow: nowrap;height: 32px;">
          <input nz-input type="number" formControlName="code" style="flex:0 0 70%;">
          <p style="flex:0 0 30%;margin:0;height: 100%;display: flex;background:#0aaded;color:#ffffff;justify-content: center;align-items: center;" (click)="sendVerifyCode()" [ngClass]="{'btn-disable': countdown>0}">
            {{ 'COMMON.RESEND' | translate }} <span *ngIf="countdown>0">( {{ countdown }} )</span>
          </p>
      </div>
      <nz-form-explain *ngIf="validateForm.get('code').dirty && validateForm.get('code').errors">{{ 'USER.CODE_INVALID'
        | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <div class="btn-container">
    <button nz-button nzType="primary" [nzLoading]="isLoading">{{'COMMON.NEXT' | translate}}</button>
  </div>
</form>