<div class="common-content-container">
  <div class="main-wrapper">
    <!-- Tab buttons -->
    <div style="margin-top: 60px; height: 52px">
      <a class="tab-button tab-button-active">{{ 'COMMON.OPEN_ORDERS' | translate }}</a>
      <a (click)="onSwitchTab()" class="tab-button tab-button-inactive">{{ 'COMMON.DEALT_ORDERS' | translate }}</a>
    </div>
    <div style="width: 100%; height: 4px; background-color: #353B41"></div>

    <!-- Filters -->
    <div id="open-orders-table-filter">
      <h4>{{ 'TRADE.PAIR' | translate }}</h4>
      <nz-dropdown [nzTrigger]="'click'" [nzClickHide]="true">
        <button nz-button nz-dropdown>
          {{currentPair.pairToDisplay}} <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu nzSelectable>
          <ng-container *ngFor="let pair of candidatePairs">
            <li nz-menu-item (click)="onChangePair(pair.pairStr)">
              {{pair.pairToDisplay}}
            </li>
          </ng-container>
        </ul>
      </nz-dropdown>
      <h4 style="margin: 0 10px">{{ 'TRADE.BUY_OR_SELL' | translate }}</h4>
      <nz-dropdown [nzTrigger]="'click'" [nzClickHide]="true">
        <button nz-button nz-dropdown>
          {{currentOrderType.display | translate }} <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu nzSelectable>
          <ng-container *ngFor="let orderType of otherOrderTypes">
            <li nz-menu-item (click)="onChangeOrderType(orderType.raw)">
              {{orderType.display | translate}}
            </li>
          </ng-container>
        </ul>
      </nz-dropdown>
      <button nz-button nzType="secondary" (click)="onReset()">{{ 'COMMON.RESET' | translate }}</button>
    </div>

    <div [class]="openOrders.length ? '' : 'has-shadow'">
      <nz-table #openOrdersTable nzSize="middle" [nzPageSize]="10" [nzHideOnSinglePage]="true" [nzData]="openOrders"
        [nzLoading]="isLoading">
        <thead>
          <tr>
            <th style="padding-left: 10px" width="15%">{{ 'COMMON.DATETIME' | translate }}</th>
            <th style="text-align: center" width="10%">{{ 'TRADE.PAIR' | translate }}</th>
            <th style="text-align: center" width="10%">{{ 'TRADE.BUY_OR_SELL' | translate }}</th>
            <th style="text-align: right">{{ 'TRADE.PRICE' | translate }}</th>
            <th style="text-align: right">{{ 'TRADE.OPEN_AMOUNT' | translate }}</th>
            <th style="text-align: right">{{ 'TRADE.FILLED' | translate }}</th>
            <th style="text-align: center">{{ 'COMMON.OPERATION' | translate }}</th>
          </tr>
        </thead>
        <tbody style="background-color: white">
          <ng-container *ngFor="let data of openOrdersTable.data">
            <tr *ngIf="data.isVisible">
              <td style="padding-left: 10px" width="15%">{{data.datetime}}</td>
              <td style="text-align: center" width="10%">{{data.Pair}}</td>
              <td style="text-align: center" width="10%">{{ data.Type | translate}}</td>
              <td style="text-align: right">{{data.Price}}</td>
              <td style="text-align: right">{{data.Amount}}</td>
              <td style="text-align: right">{{data.Filled}}</td>
              <td style="text-align: center">
                <button nz-button nz-popconfirm nzTitle="{{ 'TRADE.CANCEL_ORDER' | translate }}?"
                  nzOkText="{{ 'COMMON.YES' | translate }}" nzCancelText="{{ 'COMMON.NO' | translate }}"
                  (nzOnConfirm)="onCancel(data.pairStr, data.type, data.orderId)">{{ 'COMMON.CANCEL' | translate }}</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>